MovieRecommender/__pycache__/movies.cpython-310.pyc
MovieRecommender/__pycache__/db.cpython-310.pyc
MovieRecommender/__pycache__/__init__.cpython-310.pyc
MovieRecommender/__pycache__/__init__.cpython-37.pyc
.flaskenv
